;; Create (or drop) the rsvp relation.
{:up
 ["CREATE TABLE rsvp
     ( city varchar(100) not null
     , state varchar(2) not null
     , rsvp_time timestamp without time zone not null
     , guest_email text not null
     , guest_name text not null
     , attending boolean not null
     , plus_ones smallint not null
     , PRIMARY KEY ( city , state , rsvp_time , guest_email )
     , FOREIGN KEY ( city , state ) REFERENCES reception ( city , state )
     );"]

 :down
 ["DROP TABLE rsvp;"]}
