;;; Rename the "plus_ones" column to "party_size" (or vice-versa)
;;; in both the rsvp relation and the current_rsvp view.
{:up
 ["ALTER TABLE rsvp RENAME plus_ones TO party_size"
  "DROP VIEW current_rsvp"
  "CREATE VIEW current_rsvp AS
   WITH latest_rsvp AS (
     SELECT DISTINCT
       guest_email , MAX(rsvp_time) AS rsvp_time
     FROM
       rsvp
     GROUP BY
       guest_email
   )
   SELECT DISTINCT
     city , state , rsvp_time , guest_email, guest_name , attending , party_size
   FROM
     rsvp
     NATURAL JOIN latest_rsvp
   "]

 :down
 ["ALTER TABLE rsvp RENAME party_size TO plus_ones"
  "DROP VIEW current_rsvp"
  "CREATE VIEW current_rsvp AS
   WITH latest_rsvp AS (
     SELECT DISTINCT
       guest_email , MAX(rsvp_time) AS rsvp_time
     FROM
       rsvp
     GROUP BY
       guest_email
   )
   SELECT DISTINCT
     city , state , rsvp_time , guest_email, guest_name , attending , plus_ones
   FROM
     rsvp
     NATURAL JOIN latest_rsvp
   "]}
