;;; Fix the current_rsvp view to include the fact that a single person
;;; can RSVP for more than one reception.
{:up
 ["DROP VIEW current_rsvp"
  "CREATE VIEW current_rsvp AS
   WITH latest_rsvp AS (
     SELECT DISTINCT
         guest_email
       , city
       , state
       , MAX(rsvp_time) AS rsvp_time
     FROM
       rsvp
     GROUP BY
         guest_email
       , city
       , state
   )
   SELECT DISTINCT
     city , state , rsvp_time , guest_email, guest_name , attending , party_size
   FROM
     rsvp
     NATURAL JOIN latest_rsvp
   "]

 :down
 ["DROP VIEW current_rsvp"
  "CREATE VIEW current_rsvp AS
   WITH latest_rsvp AS (
     SELECT DISTINCT
         guest_email
       , MAX(rsvp_time) AS rsvp_time
     FROM
       rsvp
     GROUP BY
       guest_email
   )
   SELECT DISTINCT
     city , state , rsvp_time , guest_email, guest_name , attending , party_size
   FROM
     rsvp
     NATURAL JOIN latest_rsvp
   "]}
